:root {
  /* Color */
  --color-light-purple: #eaddff;
  --color-purple: #6750a4;
  --color-black: #1c1b1f;
  --color-white: #ffffff;

  /* Font size */
  --font-medium: 1.5rem;
  --font-regular: 1.25rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  background-color: var(--color-light-purple);
  font-size: var(--font-regular);
  color: var(--color-black);
}

.logo__icon {
  color: var(--color-purple);
}

.header__menu {
  display: flex;
}

.menu__item {
  padding: 0.5em 0.75em;
  border-radius: 8px;
}

.menu__item:hover {
  background-color: var(--color-purple);
  color: var(--color-white);
  cursor: pointer;
}

.header__links {
  display: flex;
}

.header__link {
  margin: 0 0.25em;
  font-size: var(--font-medium);
}

.header__link:hover {
  color: var(--color-purple);
}

.header__toggle {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: var(--font-medium);
  color: var(--color-purple);
}

/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: thistle;
}

.grid-container {
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  /* grid-template-areas:
    'a a c'
    'b . c'
    'e d g'
    'e f f'; */
}

/* To prevent grid cells from overflowing */
.item {
  min-height: 0;
}

.item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item1 {
  /* grid-area: a; */
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.item2 {
  /* grid-area: b; */
  grid-column: 1;
  grid-row: 2;
}

.item3 {
  /* grid-area: c; */
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.item4 {
  /* grid-area: d; */
  grid-column: 2 / 3;
  grid-row: 3;
}

.item5 {
  /* grid-area: e; */
  grid-column: 1;
  grid-row: 3 / span 2;
}

.item6 {
  /* grid-area: f; */
  grid-column: 2 / span 2;
  grid-row: -2;
}

.item7 {
  /* grid-area: g; */
  grid-column: -2;
  grid-row: -3;
}

@media screen and (max-width: 54rem) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0.5em 0;
  }

  .header__links {
    display: none;
    align-self: center;
    margin: 0.5em 0;
  }

  .header__menu--exposed,
  .header__links--exposed {
    display: flex;
  }

  .header__toggle {
    display: block;
  }
}
